<h1>Users</h1>

<ul>
<% users.map((user) => { %>
  <li><%= user.id %> - <%= user.fullName() %></li>
  <ul>
    <% user.comments.map((comment) => { %>
      <li><%= comment.body %></li>
    <% }); %>
  </ul>
<% }); %>
</ul>
